* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(158, 117, 117);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}

nav.active {
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
  background-color: #000000;
}

nav ul {
  display: flex;
}

.active {
  background-color: #40a81a;
  color: #31b573;
  box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
  transition: all ease 0.2s;
}

.active:hover {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
  transition: all ease 0.2s;
}

nav ul li a {
  font-family: 'Lato';
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}

nav ul li a:hover {
  background-color: #FF1414;
  color: #ffffff;
  box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
  transition: all ease 0.2s;
}

nav .menu-btn,
.menu-icon {
  display: none;
}